// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-container {
	background: #2F3850;
	height: 600px;
	margin: 0 auto;
	padding: 1.5em;
	width: 500px;
}